<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Animes</h1>
    <ul class="list-group">
    <li *ngFor="let post of [1]" class="list-group-item">
      <div class="card">
        <div class="card-header">
          Anime
        </div>
        <div class="card-body">
          <h5 class="card-title">¿Quieres ver anime en emisión o antiguos?</h5>
          <p class="card-text">Da click en el siguiente boton:</p>
          <a href="https://www7.animeflv.cc/" class="btn btn-primary" target="_blank">Animeflv</a>
        </div>
      </div>
    </li>
</ul>
</body>
</html>