<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Autor:</h1>
    <ul class="list-group">
    <li *ngFor="let post of [1]" class="list-group-item">
      <div class="card">
        <div class="card-header">
          Datos personales:
        </div>
        <div class="card-body">
          <h5 class="card-title">Universidad Tecnologíca de Cancún</h5>
          <p class="card-text">
                Alumno: Castro Tún Jesús Armando
          </p>
          <p class="card-text">
                Profesor: Quintal Cesar
         </p>
        </div>
      </div>
    </li>
</ul>
</body>
</html>